<h1>Edit Me!</h1>
<form method="POST" action="/celebs/<%= celeb._id %>?_method=PUT">
  Name:<br>
  <input type="text" name="celeb[name]" value='<%=celeb.name %>'>
  <br>
  Name:<br>
  <input type="text" name="celeb[age]" value='<%=celeb.age %>'>
  <br>
    Name:<br>
  <input type="text" name="celeb[gender]" value='<%=celeb.gender %>'>
  <br>
  Name:<br>
  <input type="text" name="celeb[profession]" value='<%=celeb.profession %>'>
  <br>
  <input type="submit" value="Submit">
</form> 